

/* Please â¤ this if you like it! */
:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	background-color: #1f2029;
	overflow-x: hidden;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
}

.navbar {
	
  height: 60px;
  border-radius: 16px;
  display: flex;
  align-items: center;
    justify-content: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(83, 83, 83, 0.25);
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 2;
  
  }
  .navbar a {
	height: auto;
	width: 50px;
    
	justify-content: center;
      display: flex;
      align-items: center;
      margin-left: 10px;
	  margin-right: 10px;
      color: rgba(255, 255, 255, 0.95);
      font-size: 14px;
	  background-size: contain;
	  border-radius: 13px;
	  background-color: #666;

      
  }

  .w-6 h-6 text-gray-800 dark:text-white{
	width: 50px;
	height: 50px;
  }
  .navbar a:hover {
    background-color: #ddd;
    color: black;
	border-radius: 13px;
  }
  .navbar a.active {
    background-color: #666;
    color: white;
  }
  .navbar .icon {
    display: none;
  }

  .information{
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Centers items horizontally */
   gap:20px ;
	
  }
.side{
  width: 45%;    
}
.card{
  display: flex;
  flex-direction: column; /* Ensure elements stack vertically */
  height: 240px;
  background-color:#666;
  border-radius: 10px;
  padding: 10px; /* Adjust padding to add space */
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
  margin-bottom:20px;
  
}
		
	.info{
  display: flex;/* Ensure elements stack vertically */
  height: 540px;
  background-color: #666;
  border-radius: 10px;/* Adjust padding to add space */
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
	}


	.container {
		display: grid;
		grid-template-areas:
		  "input input"
		  "img output";
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 5fr;
		color: #fafafa;
		gap: 1em;
		white-space: pre-line;
	  }
	  
	  .input {
		grid-area: input;
		height: 0;
		padding: 2em 1em;
		align-self: end;
	  }
	  
	  .terminal {
		font-family: monospace;
		background: #161b22;
		display: flex;
		align-items: center;
		padding-left: 1em;
		border-radius: 6px;
	  }
	  
	  .output {
		grid-area: output;
		line-height: 1.4em;
		display: block;
	  }
	  
	  .img {
		width: 280px;
		grid-area: img;
	  }
	  
	  .purple {
		color: #03045e;
	  }
	  
	  .red {
		color: #0077b6;
	  }
	  .orange{
		color: #00b4d8;
	  }
	  
	  .blue {
		color: #90e0ef;
	  }
	  
	  .green {
		color: #caf0f8;
	  }
	  
	  @media (max-width: 600px) {
		.container {
		  grid-template-columns: 1fr;
		  grid-template-rows: 1fr 3fr 3fr;
		  grid-template-areas: "input" "img" "output";
		  margin-bottom: 2em;
		}
	  }

@media only screen and (max-width: 600px){


  .information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers items horizontally */
     
  }

  .side{
    width: 100%;    
  }
  
  }



#card {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;  
  max-width: 916px;
  width: calc(100% - 20px);
}

#card:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

.card:hover::before {
  opacity: 1;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}




	  

	  
	  

		
  
 

		



  

