
body{
background-color: #212121;

}


.parent {
  display: flex;
  flex-wrap: wrap;
   gap:20px;
   justify-content: center;
   align-items: center;
}


.card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height:auto;
    background: rgb(16,16,18,1);
color: aliceblue;
 box-shadow: 4px 6px 14px #00000036;
 box-shadow: 4px 6px 14px #00000036;
  border-radius: 15px;

  overflow: hidden;
  object-fit: cover;


  transition: transform 0.3s ease; /* Add transition property for smooth effect */

}
.navbor{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.navbor a{
  text-decoration: none;
  color: aliceblue;
  font-size: 22px;
}


#typing-text {
  font-size: 22px;
  text-align: start;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  width: 500px;
  display: inline-block;

}


  button {
  margin-top: 20px;
  font-size: 1em;

  }


  @media screen and (max-width: 768px) {

  .card{
    width: 100%;

    transition-property:none; /* Add transition property for smooth effect */

  }


  .card:hover {
      transform: none; /* Scale up the card on hover */
  }

}






